.expandable_div {
    width: 114px;
    font-size: 16px;
    background-color: white;  
    transition: width 0.4s ease;
    overflow: hidden;
    cursor: pointer;
}
  
.expandable_div.expanded {
    width: 0px;
}

.expandable_form {
    height: 0;
    background-color: white;  
    transition: height 1s ease;
    overflow: hidden;
    cursor: pointer;
}
  
.expandable_form.expanded-form {
    height: fit-content;
}